<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <link href="/admin/styles.css" rel="stylesheet" >

</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHKV326MLQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZHKV326MLQ');
</script>
<body>
    <div id="container">
        <table id="content">
            <thead>
            
                <th>الاسم</th>
                <th>الصف</th>
                <th>رقم الطالب</th>
                <th>رقم ولي الامر</th>
                <th>الميعاد</th>
            
            </thead>
            <tbody id="tableBody">
            </tbody>

        </table>
    </div>
</body>
<script type="text/javascript">

const allApplications = JSON.parse(`<%- applicationsData %>`);
let tableBody = document.getElementById('tableBody');
allApplications.forEach((element) => {
        
        let tr = document.createElement('tr');
        let studentName = document.createElement('td');
        let grade = document.createElement('td');
        let studentNumber = document.createElement('td');
        let parentNumber = document.createElement('td');
        let time = document.createElement('td');
        function gradeReform(ele){
        switch(ele.grade){
          case "prep1" :
          return "الاول الاعدادي"; 
          break;

          case "prep2" :
          return "الثاني الاعدادي"; 
          break;

          case "prep3" :
          return "الثالث الاعدادي"; 
          break;

          case "sec1" :
          return "الاول الثانوي"; 
          break;
          
          case "sec2s" :
          return "الثاني الثانوي (علمي)"; 
          break;

          case "sec2l" :
          return "الثاني الثانوي (ادبي)"; 
          break;

          case "sec3" :
          return "الثالث الثانوي"; 
          break;

        }
        }
        studentName.textContent = element.studentName;
        grade.textContent = gradeReform(element);
        studentNumber.textContent = element.studentNumber;
        parentNumber.textContent = element.parentNumber;
        time.textContent = element.time;
  
        tr.append(...[studentName, grade, studentNumber, parentNumber , time]);
        tableBody.appendChild(tr);
    })

</script>
</html>